/*resetando a página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*fim resetando a página*/

/*EStilo para o conteúdo para nosso site*/
.artigo{
    width: 1280px;
    background-color: rgb(200, 200, 200);
    margin: 40px auto;
    text-align: center;
    padding: 40px;
}

.artigo > h1{
    color: rgb(66, 149, 244);
    font-size: 23px;
    font-family: tahoma;
    font-style: normal;
    font-weight: normal;
    /*font-variant: small-caps;*/
}

.artigo > p{
    color: #b4b4b4;
    font-size: 17px;
    font-family: tahoma;
    font-style: normal;
    font-weight: bold;
    margin-top: 12px;
    line-height: 40px;
    text-align: left;
}