html, body{
	margin: 0px;
	padding: 0px;
}


/* por classe */
.div1  h1{
	color: red;
}

.div2  h1{
	color: orange;
}

/*

Ou...

*/

/* por id */
#div1 > h1{
	color: red;
}

#div2 > h1{
	color: orange;
}
